<div>
	<div style="margin-top: 10px" ng-show="displayLoadingBar">
   		<progressbar class="progress-striped active" value="100" type="success"><i>{{"Loading map data..." | i18n}}</i></progressbar>
    </div>
    <alert type="'danger'" close="hideFlashMessage()" ng-show="willDisplayMessage == true">{{message}}</alert>
	<google-map center="center" zoom="zoom" draggable="{{draggable}}" refresh="willRefresh" events="events" control="mapControl" ng-init="init();">
		<polylines models="polylines" path="'path'" stroke="'stroke'" visible="'visible'" geodesic="'geodesic'" fit="false" editable="'p.editable'" draggable="'draggable'" icons="'icons'"></polylines>
		<markers models="markers" coords="'self'" icon="'icon'" click="'onClicked'" doRebuildAll="true" labelContent="'title'" labelAnchor="22 0" labelClass="marker-labels">
		    <windows show="'showWindow'" closeClick="'closeClick'" doRebuildAll="true" ng-cloak="">
                <div style="color:black;" class="cssWordwrap">
			        <p ng-non-bindable>{{ text }}</p>
		        </div>
            </windows>
        </markers>
	</google-map>
</div>