<div class="page-signin" data-ng-controller="signinCtrl">
	<div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <a href="#/">{{global.fullbrand}}</a>
            </section>
        </div>
    </div>

    <div class="signin-body" cg-busy="busyLoad">
        <div class="container" >
            <div class="form-container">

                <section class="row signin-social text-center">
                    <a href="javascript:;" class="btn-twitter-round"><i class="fa fa-twitter"></i></a>
                    <div class="space"></div>
                    <a href="javascript:;" class="btn-facebook-round"><i class="fa fa-facebook"></i></a>
                    <div class="space"></div>
                    <a href="javascript:;" class="btn-google-plus-round"><i class="fa fa-google-plus"></i></a>
                </section>

                <span class="line-thru" data-i18n="OR"></span>

                <alert type="'danger'" close="hideFailureMessage()" ng-show="showFailureMessage">{{failureMessage}}</alert>

                <form class="form-horizontal form-validation" name="form_sign_in" data-ng-submit="canSubmit()">
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email"
                                       class="form-control"
                                       placeholder="Email"
                                       ng-model="loginData.email"
                                       required
                                       >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password"
                                       class="form-control"
                                       placeholder="password"
                                       ng-model="loginData.password"
                                       required
                                       data-ng-minlength="5"
                                       >
                            </div>
                        </div>
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                            <a class="btn btn-primary btn-lg btn-block" data-ng-disabled="!canSubmit()" ng-click="login()"><span data-i18n="Log in"></span></a>
                        </div>
                    </fieldset>
                </form>

                <section>
                    <p class="text-center"><a href="javascript:;"><span data-i18n="Forgot your password?"></span></a></p>
                </section>
            
            </div>
        </div>
    </div>
</div>