.icon-active {
    color: #1c7ebb;
}

.reported-cmt {
    color: RED;
}

#div-suggest {
    background: #eee;
    border: 1px solid #aaa;
    width: 100%;

}

#div-suggest ul {
    margin-bottom: 0px;
}

#div-suggest li {
    padding: 5px;
    cursor: pointer;
}

#div-suggest li:hover {
    background: #fff;
}

