<div style='background: #fff'>
	<table class='table table-responsive table-bordered' style='margin-bottom: 0px;'>
		<tr>
			<td colspan='{{ config.head.length + config.fixCols.length }}'>
				<div class='col-md-6 col-sm-12 col-xs-12'>
					<div class='col-md-6 col-sm-12 col-xs-12 row'>
						<input type='text' data-ng-model='fastSearch.string' class='form-control' placeholder='Search'>	
					</div>
				</div>
				<div class='col-md-6 col-sm-12 col-xs-12'>
					<div data-ng-if="config.featureArea.length != 0" class='text-right'>
						<span data-ng-repeat='item in config.featureArea' data-ng-bind-html="item.content">
						</span>
					</div>					
				</div>
			</td>
		</tr>
	</table>
	<table class='table table-hover table-bordered table-responsive table-striped' style='margin-bottom: 0px;'>
		<thead>
			<tr>
				<td data-ng-repeat='temp in config.head'>
					<b>{{temp.label}}</b>
					<div class='pull-right'>
						<div style='position: relative'>
							<span data-ng-class="{ 'text-primary': ( config.sortDefault.by == temp.attr && config.sortDefault.asc )}" data-ng-click='config.sortDefault.changeSort( temp.attr, true )' style='position: absolute; top: -2px; right: -1px; cursor: pointer;' class='glyphicon glyphicon-chevron-up'></span>
							<span data-ng-class="{ 'text-primary': ( config.sortDefault.by == temp.attr && !config.sortDefault.asc )}" data-ng-click='config.sortDefault.changeSort( temp.attr, false )' style='position: absolute; top: 10px; right: 0px; cursor: pointer;' class='glyphicon glyphicon-chevron-down'></span>
						</div>
					</div>
				</td>
				<td data-ng-show='config.fixCols != ""' data-ng-repeat="fixCol in config.fixCols">
					{{fixCol.label}}
				</td>	
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat='item in data | filter: fastSearch.string'>
				<input type='hidden' name='primary-key' value='{{item[ config.primaryKey ]}}' />
				<td data-ng-repeat='title in config.head'>
					{{ item[ title.attr ] }}
				</td>
				<td data-ng-show='config.fixCols != ""' data-ng-repeat="fixCol in config.fixCols">
					<span data-ng-repeat='fixItem in fixCol.content'>
						<span data-ng-click='fixItem.event' ng-bind-html='fixItem.html'></span> 	
					</span>
				</td>
			</tr>
			<tr data-ng-if='data.length == 0'>
				<td class='text-center h3 text-warning' colspan='{{ config.head.length + config.fixCols.length }}'>
					No items here
				</td>
			</tr>
		</tbody>
	</table>
	<table class='table table-responsive table-bordered'>
		<tr>
			<td colspan='{{ config.head.length + config.fixCols.length }}'>
				<div class='row'>
					<div class='col-md-6 col-sm-12 col-xs-12'>&nbsp;
						<div  data-ng-if='config.page.entriesPerPage != ""'>
							Entries per page :
							<select data-ng-model='config.page.currentEntries'>
								<option value='{{item}}' data-ng-repeat='item in config.page.entriesPerPage'>{{item}}</option>
							</select>
						</div>
						
					</div>
					<div class='col-md-6 col-sm-12 col-xs-12 ' >
						<div class='pull-right'>
							<ul class="pagination-sm pagination ng-isolate-scope" >
								<li data-ng-click='goToFirstPage()' ng-class="{active: page.active, disabled: page.disabled}" class="ng-scope"><a ng-click="">First</a></li>
								<li data-ng-click='goToPrevPage()' ng-class="{active: page.active, disabled: page.disabled}" class="ng-scope"><a ng-click="">Prev</a></li>
								<li data-ng-click='goToPage( config.page.currentPage )' class="ng-scope active"><a ng-click="">{{config.page.currentPage}}</a></li>
								<li data-ng-click='goToNextPage()' ng-class="{active: page.active, disabled: page.disabled}" class="ng-scope"><a ng-click="">Next</a></li>
								<li data-ng-click='goToLastPage()' ng-class="{active: page.active, disabled: page.disabled}" class="ng-scope"><a ng-click="">Last</a></li>
							</ul>

						</div>
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>