.breadcrumbs {
    border: 1px solid transparent;
    border-color: #e9e9e9;
    margin-bottom: 19px;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    color: #767676;
    background-color: white;
    padding: 10px 10px 10px 15px;

    list-style: none;

    ul{
    	padding-left: 0px;
    	margin-bottom: 0px;

    	li {
	    	display: inline-block;

	    	a{
	    		color: #767676;
	    		padding: 0 5px 0 5px;
	    		text-decoration: none;
	    	}
	    }
    }

    
}