ul.wizard-nav{
	list-style: none;
	width: 100%;
	padding: 10px 0;
	margin-bottom: 15px;
	background-color: #fff;
	background-image: none;
	filter: none;
	border: 0px;
	box-shadow: none;

	li{
		position: relative;
		float: none;
		display: table-cell;
		width: 1%;

		i {
			font-size: 12px;
			font-weight: normal;
			color: #999;
			display: inline-block;
		}

		a{
			font-weight: 400;
			display: inline-block;
			font-size: 16px;
			color: #2a6496;
			text-decoration: none;
			cursor: pointer;
			width: 100%;
			text-align: center;
		}

		a.selected{
			font-weight: 500;
			display: inline-block;
			font-size: 16px;
			color: #333;
			text-decoration: none;
			cursor: pointer;
		}

		a.completed{
			font-weight: 500;
			display: inline-block;
			font-size: 16px;
			color: #0d638f;
			text-decoration: none;
			cursor: pointer;
		}

		a:hover{
			text-decoration: none;
			cursor: pointer;
		}

		.number {
			background-color: #eee;
			display: inline-block;
			text-align: center !important;
			font-size: 16px;
			font-weight: 400;
			padding: 11px 15px 13px 15px;
			margin-right: 10px;
			height: 45px;
			width: 45px;
			-webkit-border-radius: 50% !important;
			-moz-border-radius: 50% !important;
			border-radius: 50% !important;
		}

		.numberActive {
			background-color: #1c7ebb;
			color: #fff;
			display: inline-block;
			text-align: center !important;
			font-size: 16px;
			font-weight: 500;
			padding: 11px 15px 13px 15px;
			margin-right: 10px;
			height: 45px;
			width: 45px;
			-webkit-border-radius: 50% !important;
			-moz-border-radius: 50% !important;
			border-radius: 50% !important;
		}

		.numberComplete {
			background-color: #23ae89;
			color: #fff;
			display: inline-block;
			text-align: center !important;
			font-size: 16px;
			font-weight: 500;
			padding: 11px 15px 13px 15px;
			margin-right: 10px;
			height: 45px;
			width: 45px;
			-webkit-border-radius: 50% !important;
			-moz-border-radius: 50% !important;
			border-radius: 50% !important;
		}
	}
}

.form-wizard-actions {
	padding: 20px 10px;
	margin: 0;
	background-color: #f5f5f5;
	border-top: 1px solid #e5e5e5;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: -15px;
	margin-top: 15px;
}