<div class="page-err">
    <div class="text-center">
        <div class="err-status">
             <h1>500</h1>
        </div>
        <div class="err-message">
            <h2><span data-i18n="Opps!!"></span></h2>
            <h3 style="color: white;"><span data-i18n="SOMETHING'S WRONG WITH SERVER."></span></h3>
        </div>
        <div class="err-body">
            <a href="javascript:void(0)" class="btn btn-lg btn-goback" ng-click="redirectToHomePage();">
                <span class="glyphicon glyphicon-home"></span>
                <span class="space"></span>
                <span data-i18n="Go Back to Home Page"></span>
            </a>
        </div>
    </div>
</div>

