<div data-ng-controller="userDetailsOverviewCtrl">
	<!-- Begin profile -->
	<div class="row">
	    <div class="col-md-4">

	    	<!-- Begin Avatar and account notifications -->
	        <div class="panel panel-profile">
	            <div class="panel-heading bg-primary clearfix">
	                <a href="" class="pull-left profile">
	                    <img alt="" src="{{currentUser.avatar_url}}" class="img-circle img80_80">
	                </a>
	                <h3>{{currentUser.name}}</h3>
	                <p>{{"Administrator" | i18n}}</p>
	            </div>

	            <ul class="list-group" ng-if="!isMyself">
	                <li class="list-group-item">
	                    <span class="badge badge-danger">6</span>
	                    <i class="fa fa-envelope-o"></i>
	                    <span data-i18n="View emails sent to {0} |{{currentUser.name}}">
	                </li>
	                <li class="list-group-item">
	                    <span class="badge badge-warning">2</span>
	                    <i class="fa fa-comments-o"></i>
	                    <span data-i18n="View messages sent to {0} |{{currentUser.name}}">
	                </li>
	            </ul>

	            <ul class="list-group" ng-if="isMyself">
	                <li class="list-group-item">
	                    <span class="badge badge-danger">6</span>
	                    <i class="fa fa-envelope-o"></i>
	                    <span data-i18n="Inbox Mails">
	                </li>
	                <li class="list-group-item">
	                    <span class="badge badge-warning">2</span>
	                    <i class="fa fa-comments-o"></i>
	                    <span data-i18n="Inbox Messages">
	                </li>
	            </ul>

	        </div>
	        <!-- End Avatar and account notifications -->
	    </div>
	    <div class="col-md-8">

	        <div class="panel panel-default">
	            <div class="panel-heading">
	            	<strong><span class="glyphicon glyphicon-th"></span> {{"Profile Info" | i18n}}</strong>
	            </div>
	            <div class="panel-body">
	            	<!-- Begin profile detail -->
	                <div class="media">
	                    <div class="media-body">
	                        <ul class="list-unstyled list-info">
	                            <li>
	                                <span class="icon glyphicon glyphicon-user"></span>
	                                <label><span data-i18n="Full Name"></span></label>
	                                {{currentUser.name}}
	                            </li>
	                            <li>
	                                <span class="icon glyphicon glyphicon-envelope"></span>
	                                <label><span data-i18n="Email"></span></label>
	                                <a href="mailto:{{currentUser.email}}" class="text-primary">{{currentUser.email}}</a>
	                            </li>
	                            <li>
	                                <span class="icon glyphicon glyphicon-home"></span>
	                                <label><span data-i18n="Address"></span></label>
	                                {{currentUser.address}}
	                                &nbsp;<a ng-if="currentUser.address != null" href="javascript:void(0);" class="text-primary dot-underline" ng-click="showUserAddressOnMap();">(<span data-i18n="View on Map"></span>)</a>
	                            </li>
	                            <li>
	                                <span class="icon glyphicon glyphicon-earphone"></span>
	                                <label><span data-i18n="Contact"></span></label>
	                                <a href="tel:{{currentUser.phone}}" class="text-primary">{{currentUser.phone}}</a>
	                            </li>
	                            <li>
	                                <span class="icon glyphicon glyphicon-time"></span>
	                                <label><span data-i18n="Join Date"></span></label>
	                                <mydate>{{currentUser.create_date * 1000 | date:main.currentDateFormat}}</mydate>
	                            </li>
	                            <li>
	                                <span class="icon glyphicon glyphicon-lock"></span>
	                                <label><span data-i18n="Status"></span></label>
	                                <span class="badge badge-danger ng-scope" ng-show='currentUser.active == "0"'> {{"Lock" | i18n}}</span>
	                                <span class="badge badge-primary ng-scope" ng-show='currentUser.active == "1"'> {{"Active" | i18n}}</span>
	                            </li>

	                        </ul>
	                    </div>
	                </div>
	                <!-- end profile detail -->
	            </div>
	        </div>
	    </div>
	</div>
	<!-- End profile -->
</div>