<span ng-if="!column.isCurrencyPlaceFirsted">{{parseItemModel(item,column.model) | currency:""}} {{column.currency}}</span>
<span ng-if="column.isCurrencyPlaceFirsted">{{parseItemModel(item,column.model) | currency:column.currency}} </span>