<span ng-if="!column.timeType || column.timeType=='date'">
	<mydate ng-if="(parseItemModel(item,column.model) && parseItemModel(item,column.model) != 0)">{{parseItemModel(item,column.model) * 1000 | date:dateFormat}}</mydate>
	<mydate ng-if="!(parseItemModel(item,column.model) && parseItemModel(item,column.model) != 0)">N/A</mydate>
</span>
<span ng-if="column.timeType=='datetime'">
	<mydate ng-if="(parseItemModel(item,column.model) && parseItemModel(item,column.model) != 0)">{{parseItemModel(item,column.model) * 1000 | date:datetimeFormat}}</mydate>
	<mydate ng-if="!(parseItemModel(item,column.model) && parseItemModel(item,column.model) != 0)">N/A</mydate>
</span>
