<span ng-if="!column.editable || (column.editable && !column.editable.editableEnable())">
	<span ng-if="!column.displayConditions">
		<span class="text-primary" ng-if="(column.enableClick == true && column.clickFunction)">{{parseItemModel(item,column.model)}}</span>
		<span ng-if="!(column.enableClick == true && column.clickFunction)">{{parseItemModel(item,column.model)}}</span>
	</span>
	<span ng-if="column.displayConditions">
		<span ng-bind-html='getCellDisplayWithCondition(parseItemModel(item,column.model), column.displayConditions)'></span>
	</span>
</span>

<span ng-if="column.editable && column.editable.editableEnable()">
	<a href="#" editable-number="item.{{column.model}}" e-min="{{column.editable.eMin}}" onbeforesave="column.editable.beforeSaveCell($data, item, column)" onaftersave="column.editable.afterSaveCell($data, item, column)">{{ toInt(parseItemModel(item,column.model)) || 0 }}</a></div>
</span>