<span class="label label-info" ng-if="parseItemModel(item,column.model) == true" data-i18n="Active"></span>
<span class="label label-danger" ng-if="parseItemModel(item,column.model) == false" data-i18n="Deactive"></span>