<span ng-if="!column.displayConditions">
	<span class="text-primary" ng-if="(column.enableClick == true && column.clickFunction)">{{parseItemModel(item,column.model)}}</span>
	<span ng-if="!(column.enableClick == true && column.clickFunction)">{{parseItemModel(item,column.model)}}</span>
</span>
<span ng-if="column.displayConditions">
	<span ng-bind-html='getCellDisplayWithCondition(parseItemModel(item,column.model), column.displayConditions)'></span>
</span>