<ul ng-if="isArray(parseItemModel(item,column.model)) && parseItemModel(item,column.model).length > 0" class="tblDynamicCellList">
	<li data-ng-repeat="listItem in parseItemModel(item,column.model)">
		<span ng-if="column.listModel">{{parseItemModel(listItem,column.listModel)}}</span>
		<span ng-if="!column.listModel">{{listItem}}</span>
	</li>
</ul>