<a href="javascript:void(0);" class="btn-icon-round btn-icon-round-sm {{column.iconConfig[parseItemModel(item,column.model)].bg}}"><i class="{{column.iconConfig[parseItemModel(item,column.model)].icon}}"></i></a>