<div class="modal-header">
    <h3><span class="fa fa-search"></span> {{"Advance Search" | i18n}}</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal">

        <div class="form-group" data-ng-repeat="searchField in config.searchConfig" ng-if="parseFieldBindConfig(searchField.bindConfig, 'display') && (!searchField.ngShow || searchField.ngShow() )">
            <label for="" class="col-sm-{{config.searchLabelLength || 2}}">{{searchField.label | i18n}}</label>
            
            <!-- text field -->
            <div class="col-sm-{{(config.searchLabelLength && 12 - config.searchLabelLength) || 10}}" ng-if="searchField.type == 'text'">
                <input type="text" class="form-control" ng-model="advanceSearchData[searchField.model].data">
            </div>

            <!-- select field -->
            <div class="col-sm-{{(config.searchLabelLength && 12 - config.searchLabelLength) || 10}}" ng-if="searchField.type == 'select'">
                <span class="ui-select">
                    <select class="select-in-form" ng-model="advanceSearchData[searchField.model].data">
                        <option value="" ng-selected="{{advanceSearchData[searchField.model].data == null || advanceSearchData[searchField.model].data == ''}}">{{"Select One" | i18n}}</option>
                        <option data-ng-repeat="option in searchField.items" value="{{option.value}}" ng-selected="{{advanceSearchData[searchField.model].data == option.value}}">{{option.text | i18n}}</option>
                    </select>
                </span>
            </div>

            <!-- calendar -->
            <div class="col-sm-{{(config.searchLabelLength && 12 - config.searchLabelLength) || 10}}" ng-if="searchField.type == 'daterange'">
                <input class="form-control" type="daterange" ng-model="advanceSearchData[searchField.model].data">
            </div>

            <!-- number range -->
            <div class="col-sm-{{(config.searchLabelLength && 12 - config.searchLabelLength) || 10}}" ng-if="searchField.type == 'numberrange'">
                <div ng-if="searchField.numberType == 'currency'" number-range type="currency" width="175px" model-lower-scope="advanceSearchData[searchField.model].data.bottomScope" model-upper-scope="advanceSearchData[searchField.model].data.topScope"></div>
                <div ng-if="searchField.numberType == null" number-range width="175px" model-lower-scope="advanceSearchData[searchField.model].data.bottomScope" model-upper-scope="advanceSearchData[searchField.model].data.topScope"></div>
            </div>

            <!-- select2 -->
            <div class="col-sm-{{(config.searchLabelLength && 12 - config.searchLabelLength) || 10}}" ng-if="searchField.type == 'select2'">
                <input type="hidden" id="{{searchField.id}}" class="form-control form-control-select2 select2" ui-select2="searchField.config" ng-model="advanceSearchData[searchField.model].data" value="{{searchField.defaultValue}}">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="searchModalSearchClick()">{{"Search" | i18n}}</button>
    <button class="btn btn-warning" ng-click="searchModalResetClick()">{{"Reset" | i18n}}</button>
</div>