<div class="modal-header">
    <h3><span class="fa fa-map-marker"></span> <span data-i18n="{0} 's Address |{{currentUser.name}}"></h3>
</div>
<div class="modal-body">
	<bosmap config="googleMapConfig" control="googleMapControl"></bosmap>
</div>
<div class="modal-footer">
	<button class="btn btn-danger" ng-click="closeModalAddressMap()">Cancel</button>
</div>