 <div class="modal-header">
    <h3 class="modal-title"><span class='fa fa-search'></span><div class='space'></div>Advaned Search</h3>
</div>
<div class="modal-body">
    <form class='form-horizontal'>
        <div class='form-group'>
            <label class='col-md-2' style='padding: 7px'><span data-i18n='By Title'>By Title</span></label>
            <div class='col-md-10'>
                <input type='text' class='form-control' data-ng-model='search.byTitle'>
            </div>
        </div>

        <div class='form-group'>
            <label class='col-md-2' style='padding: 7px'><span data-i18n='By Content'>By Content</span></label>
            <div class='col-md-10'>
                <input type='text' class='form-control' data-ng-model='search.byContent'>
            </div>
        </div>
<!-- 
        <div class='form-group'>
            <label class='col-md-2' style='padding: 7px; padding-top: 10px;'><span data-i18n='By Status'>By Status</span></label>
            <div class='col-md-10'>
                <span class='ui-select'>
                    <select data-ng-model='advandedSearch.searchUserStatus' >
                        <option value='' selected>Select</option>
                        <option value='active'>Active</option>
                        <option value='pendding'>Pendding</option>
                        <option value='deactive'>Deactive</option>
                    </select>
                </span>
            </div>
        </div> -->

        <div class='form-group'>
            <label class='col-md-2' style='padding: 7px'><span data-i18n='By Created At'>By Created At</span></label>
            <div class="col-sm-10">
                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <div class="input-group col-md-12"><input type="text" q-keyboard class="form-control" value="{{ search.byCreated | date:'dd - MMMM - yyyy' }}">
                                 
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="search.byCreated" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', minView: 'day' }"/>
                    </ul>
            </div>
        </div>
        <div class='clearfix'></div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" data-ng-click="triggerSearch()"><span class='fa fa-search'></span><div class='space'></div>Search</button>
    <button class="btn btn-warning" data-dismiss="modal" data-ng-click="resetSearch()"><span class='fa fa-power-off'></span><div class='space'>Reset</button>
</div>
