<div class="modal-header">
    <h3><span class="fa fa-cloud-upload"></span> {{title | i18n}}</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal">

        <div class="form-group">
            <div class="col-sm-5">
				<div class="fileinput fileinput-new" data-provides="fileinput">
					<div class="fileinput-new thumbnail" style="width: {{preview.size.width}}px; height: {{preview.size.height}}px;">
						<img src="{{image}}" alt=""/>
					</div>
				  	<div class="fileinput-preview fileinput-exists thumbnail" data-trigger="fileinput" style="width: {{preview.size.width}}px; height: {{preview.size.height}}px;"></div>
				  	<div>
					    <span class="btn btn-primary btn-file"><span class="fileinput-new">{{"Select Image" | i18n}}</span><span class="fileinput-exists">{{"Change" | i18n}}</span><input type="file" name="{{model}}" file-model="uploadData[fileKey]"></span>
					    <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">{{"Remove" | i18n}}</a>
				  	</div>
				</div>
			</div>

			<div class="col-sm-6">
				<button class="btn btn-success" ng-disabled="!uploadData[fileKey]" ng-click="upload()">
	                <span class="fa fa-cloud-upload"></span> {{"Upload" | i18n}}
	            </button>

	            <div style="margin-top: 10px" ng-show="uploadStatus.status == 'uploading'">
	           		<progressbar class="progress-striped active" value="100" type="success"><i>{{"Uploading..." | i18n}}</i></progressbar>
	            </div>

	            <div style="margin-top: 10px">
		            <span class="label label-info" ng-if="uploadStatus.status == null">
						 {{"INFO!" | i18n}}			
					</span>
					<span class="label label-danger" ng-if="uploadStatus.status == 'fail'">
						 {{"ERROR!" | i18n}}			
					</span>
					<span class="label label-success" ng-if="uploadStatus.status == 'success'">
						 {{"SUCCESS!" | i18n}}			
					</span>
					<br/>
					<span ng-if="uploadStatus.message == null">{{"Select the image you want to upload then hit the upload button" | i18n}}</span>
					<span ng-if="uploadStatus.message != null">{{uploadStatus.message | i18n}}</span>
				</div>

			</div>

        </div>
    </form>
</div>