<div class='page' data-ng-controller='VideoCtrl'>

    <breadcrumbs id="breadcrumb" items="breadcrumbs"></breadcrumbs>

    <div style='position: relative;'>
        <q-busy data-ng-show='isBusy'></q-busy>
       

        <!-- <q-pagination config='pageConfig'></q-pagination> -->

        <div class="callout callout-info" ng-if="isError">
            <p class="ng-binding">{{errorMessage}}</p>
        </div>
    </div>
</div>
