.printMarker{
	background: white;
}

.invoice {
	background: white;
	padding: 20px 20px 20px 20px;
	color: black;
}

.invoice .invoice-logo {
	margin-bottom: 20px;
}

.invoice .invoice-logo-space {
	margin-bottom: 15px;
}

.invoice .invoice-logo p {
	padding: 5px 0;
	font-size: 26px;
	line-height: 28px;
	text-align: right;
}

.invoice .invoice-logo .logo-title{
	color: black;
}

.invoice .invoice-logo p span {
	display: block;
	font-size: 14px;
}

.invoice .list-unstyled {
	padding-left: 0;
	list-style: none;
}

.invoice table {
	margin: 30px 0 30px;
}

.invoice .well {
	background-color: #eee;
	border: 0;
	box-shadow: none !important;
}

.invoice .invoice-block {
	text-align: right;
}

.invoice .invoice-block .amounts {
	margin-top: 20px;
	font-size: 14px;
}

.invoice .sign{
	margin-top: 20px;
	margin-bottom: 50px;
}

.invoice .sign .signLabel{
	font-weight: bold;
	
}

.invoice .sign .signDesc{
	font-size: 12px;
}

.invoice .sign .sign_place{
	text-align: center;
}