.page-profile {
	a{
		color: #4697ce;
		text-decoration: none;
	}

    img.media-object {
        @include border-radius(4px);
    }

    h3{
    	color: black;
    }

    .time_ranger_list{
    	padding-top:0px;
    	margin-left:-41px;
    	margin-bottom:0px;
    	list-style-type: none;
    }

    .table-condensed td.label-status{
    	padding-bottom: 8px;
    }
}

.panel-gray {
	border-color: #e9ecf0;
}