table.pos-dynamic-list{
	display: table;
	border-spacing: 2px;
	border-color: gray;
	width: 100%;

	tbody tr:hover{
	 	background-color:#f0f0f0;
	}

	th {
		font-size: 14px;
		font-weight: bold;
		border-bottom-style: solid;
		border-bottom-color: #ccc;
		border-bottom-width: 1px;
		vertical-align: top;
		text-align: left;
		padding: 7px 10px;
	}

	td.empty {
		font-weight: bold;
	}

	td {
		border-bottom-style: solid;
		border-bottom-color: #ccc;
		border-bottom-width: 1px;
		vertical-align: top;
		text-align: left;
		padding: 7px 10px;

		.item_header {
			font-size: 14px;
			font-weight: bold;
			margin: 0px 0px 0px;
		}

		.item_content {
			margin: 0px 0px 10px;
		}

		.tool_list {
			display: inline;
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				text-decoration: none;
				display: inline-block;
			}

			li+li:before {
				content: "\b7";
				padding: 0 0.42857142857142855em 0 0.21428571428571427em;
				color: #707070;
			}
		}
	}
}