.zero-state{
	text-align: center;
	padding: 50px 0 0 0;

	.zero-state-main{
		width: 100%;
		max-width: 700px;
		margin: 0 auto;

		h1{
			font-family: "ProximaNovaLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 32px;
			font-weight: normal;
			margin-bottom: 16px;
			color: #767676;
		}

		p.sub-heading{
			color: #798c9c;
			line-height: 20px;
			font-size: 18px;
			margin-bottom: 56px;
			font-weight: normal;
			font-family: "ProximaNovaLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
		}

		img.zero-state-image{
			margin: 0 0 10px 0;
			width: 210px;
			height: 200px;
			max-width: 100%;
		}
	}
}