<div>
	<form class="form-horizontal form-validation" name="{{name}}" id="{{id}}" novalidate>

		<div style="margin-top: 10px" ng-show="postStatus.status == 'uploading'">
       		<progressbar class="progress-striped active" value="100" type="success"><i>{{"Sending..." | i18n}}</i></progressbar>
        </div>

        <alert type="'danger'" close="hideFlashMessage()" ng-show="postStatus.status == 'fail'">{{postStatus.message}}</alert>

		<div class="form-group" data-ng-repeat="field in fields" ng-show="field.ngShow == null || field.ngShow(formData);">
            <ng-form name="sub_form">
    			<label for="" class="col-sm-{{style.labelWidth || 2}}" ng-if="field.label != null">
    				{{field.label | i18n}}
    				<span class="text-danger" ng-if="field.validation.required"> (*)</span>
    			</label>

    			<!-- text field -->
    			<div class="col-sm-{{12 - style.labelWidth || 10}}" ng-if="field.type == 'text'">
                    <input type="text" name="posfield" class="form-control" group-validations="field.validation" data-i18n-attr="{{field.placeholder}}|placeholder" data-ng-model="formData[field.model]" ng-disabled="field.is_disabled != null && field.is_disabled(formData);">
                    <span class="text-danger" ng-show="field.validation.invalidMessage && sub_form.posfield.$invalid && sub_form.posfield.$dirty">{{field.validation.invalidMessage}}</span>
                </div>
                <!-- end text field -->

                <!-- text area field -->
                <div class="col-sm-{{12 - style.labelWidth || 10}}" ng-if="field.type == 'textarea'">
                    <textarea name="posfield" class="form-control" group-validations="field.validation" data-i18n-attr="{{field.placeholder}}|placeholder" data-ng-model="formData[field.model]" rows="{{field.rows}}" ng-disabled="field.is_disabled != null && field.is_disabled(formData);"></textarea>
                    <span class="text-danger" ng-show="field.validation.invalidMessage && sub_form.posfield.$invalid && sub_form.posfield.$dirty">{{field.validation.invalidMessage}}</span>
                </div>
                <!-- end text area field -->

                <!-- hidden field -->
                <div class="col-sm-{{12 - style.labelWidth || 10}}" ng-if="field.type == 'hidden'">
                    <input type="hidden" name="posfield" data-ng-model="formData[field.model]">
                </div>
                <!-- end hidden field -->

                <!-- phone field -->
                <div class="col-sm-{{12 - style.labelWidth || 10}}" ng-if="field.type == 'phone'">
                    <input type="text" name="posfield" intl-tel class="form-control" group-validations="field.validation" data-i18n-attr="{{field.placeholder}}|placeholder" data-ng-model="formData[field.model]" ng-disabled="field.is_disabled != null && field.is_disabled(formData);">
                    <span class="text-danger" ng-show="field.validation.invalidMessage && sub_form.posfield.$invalid && sub_form.posfield.$dirty">{{field.validation.invalidMessage}}</span>
                </div>
                <!-- end phone field -->

                <!-- number field -->
    			<div class="col-sm-{{12 - style.labelWidth || 10}}" ng-if="field.type == 'number'">
                    <input type="number" name="posfield" class="form-control" group-validations="field.validation" data-i18n-attr="{{field.placeholder}}|placeholder" data-ng-model="formData[field.model]" ng-disabled="field.is_disabled != null && field.is_disabled(formData);">
                    <span class="text-danger" ng-show="field.validation.invalidMessage && sub_form.posfield.$invalid && sub_form.posfield.$dirty">{{field.validation.invalidMessage}}</span>
                </div>
                <!-- end number field -->

                <!-- number picker field -->
                <div class="col-sm-{{12 - style.labelWidth || 10}}" ng-if="field.type == 'numberPicker'">
                    <div ng-if="field.numberType == 'quantity'" number-picker type="quantity" name="posfield" width="175px" model="formData[field.model]" ng-disabled="field.is_disabled != null && field.is_disabled(formData);" group-validations="field.validation"></div>
                    <div ng-if="field.numberType == 'currency'" number-picker type="currency" name="posfield" width="175px" model="formData[field.model]" ng-disabled="field.is_disabled != null && field.is_disabled(formData);" group-validations="field.validation"></div>
                    <span ng-if="field.labelAfter" style="top: 6px;position: absolute;margin-left: 10px;">{{field.labelAfter | i18n}}</span>
                    <span class="text-danger" ng-show="field.validation.invalidMessage && sub_form.posfield.$invalid && sub_form.posfield.$dirty">{{field.validation.invalidMessage}}</span>
                </div>
                <!-- end picker field -->

                <!-- email field -->
    			<div class="col-sm-{{12 - style.labelWidth || 10}}" ng-if="field.type == 'email'">
                    <input type="email" name="posfield" class="form-control" group-validations="field.validation" data-i18n-attr="{{field.placeholder}}|placeholder" data-ng-model="formData[field.model]" ng-disabled="field.is_disabled != null && field.is_disabled(formData);">
                    <span class="text-danger" ng-show="field.validation.invalidMessage && sub_form.posfield.$invalid && sub_form.posfield.$dirty">{{field.validation.invalidMessage}}</span>
                </div>
                <!-- end email field -->

                <!-- password field -->
    			<div class="col-sm-{{12 - style.labelWidth || 10}}" ng-if="field.type == 'password'">
                    <input type="password" name="posfield" class="form-control" group-validations="field.validation" data-i18n-attr="{{field.placeholder}}|placeholder" data-ng-model="formData[field.model]" ng-disabled="field.is_disabled != null && field.is_disabled(formData);">
                    <span class="text-danger" ng-show="field.validation.invalidMessage && sub_form.posfield.$invalid && sub_form.posfield.$dirty">{{field.validation.invalidMessage}}</span>
                </div>
                <!-- end password field -->

                <!-- switch field -->
    			<div class="col-sm-{{12 - style.labelWidth || 10}}" ng-if="field.type == 'switch'">
                    <label class="switch">
                    	<input type="checkbox" name="posfield" data-ng-model="formData[field.model]" ng-disabled="field.is_disabled != null && field.is_disabled(formData);">
                    	<i></i>
                    </label>
                	<div class="space"></div> 
                	<span ng-if="formData[field.model]" style="vertical-align:top">{{field.values.on.label | i18n}}</span> <span ng-if="!formData[field.model]" style="vertical-align:top">{{field.values.off.label | i18n}}</span>
                </div>
                <!-- end switch field -->

                <!-- select field -->
                <div class="col-sm-{{12 - style.labelWidth || 10}}" ng-if="field.type == 'select'">
                    <span class="ui-select">
                        <select class="select-in-form" ng-model="formData[field.model]" name="posfield" group-validations="field.validation">
                            <option value="" ng-selected="{{formData[field.model] == null || formData[field.model] == ''}}">{{"Select One" | i18n}}</option>
                            <option data-ng-repeat="option in field.items" value="{{option.value}}" ng-selected="{{formData[field.model] == option.value}}">{{option.text | i18n}}</option>
                        </select>
                    </span>
                    <span class="text-danger" ng-show="field.validation.invalidMessage && sub_form.posfield.$invalid && sub_form.posfield.$dirty">{{field.validation.invalidMessage}}</span>
                </div>
                <!-- end field -->

                <!-- select2 field -->
                <div class="col-sm-{{12 - style.labelWidth || 10}}" ng-if="field.type == 'select2'">
                    <input type="hidden" name="posfield" id="{{field.id}}" class="form-control form-control-select2 select2" ui-select2="field.config" ng-model="formData[field.model]" value="{{field.defaultValue}}" group-validations="field.validation">
                    <span class="text-danger" ng-show="field.validation.invalidMessage && sub_form.posfield.$invalid && sub_form.posfield.$dirty">{{field.validation.invalidMessage}}</span>
                </div>
                <!-- end select2 field -->

                <!-- country - city field -->
                <div class="col-sm-{{12 - style.labelWidth || 10}}" ng-if="field.type == 'country'">
                    <select ui-select2="{ allowClear: true}" ng-model="formData[field.model]" value="{{field.defaultValue}}" name="posfield" id="{{field.id}}" class="form-control form-control-select2 select2" data-i18n-attr="{{field.placeholder}}|data-placeholder">
                        <option value=""></option>
                        <option ng-repeat="country in fieldsExtraData.country.countries" value="{{country.cca2}}">{{country.name}}</option>
                    </select>
                </div>
                <!-- end country - city field -->

                <!-- city field -->
                <div class="col-sm-{{12 - style.labelWidth || 10}}" ng-if="field.type == 'city'">
                    <input type="hidden" name="posfield" id="{{field.id}}" class="form-control form-control-select2 select2" ui-select2="formConfig[field.model]" ng-model="formData[field.model]" value="{{field.defaultValue}}">
                    <span class="text-danger" ng-show="field.validation.invalidMessage && sub_form.posfield.$invalid && sub_form.posfield.$dirty">{{field.validation.invalidMessage}}</span>
                </div>
                <!-- end city field -->

                <!-- date time field -->
                <div class="col-sm-{{12 - style.labelWidth || 10}}" ng-if="field.type == 'dateAndTime'">
                    <div dateandtimepicker data-ng-model="formData[field.model]" name="posfield" group-validations="field.validation"></div>
                    <span class="text-danger" ng-show="field.validation.invalidMessage && sub_form.posfield.$invalid && sub_form.posfield.$dirty">{{field.validation.invalidMessage}}</span>
                </div>
                <!-- end date time field -->

                <!-- date only picker field -->
                <div class="col-sm-{{12 - style.labelWidth || 10}}" ng-if="field.type == 'date'">
                    <div dateonlypicker data-ng-model="formData[field.model]" name="posfield" min="{{field.minDate}}" max="{{field.maxDate}}" format="{{field.dateFormats}}" group-validations="field.validation"></div>
                    <span class="text-danger" ng-show="field.validation.invalidMessage && sub_form.posfield.$invalid && sub_form.posfield.$dirty">{{field.validation.invalidMessage}}</span>
                </div>
                <!-- end date only picker field -->

                <!-- time ranges pickers field -->
                <!-- data format: [{"from": epocTime, "to": epoctime},] -->
                <div class="col-sm-{{12 - style.labelWidth || 10}}" ng-if="field.type == 'timeRangesPicker'">
                    <div time-ranges-picker time-model="formData[field.model]" name="posfield" hourstep=1 minstep=15 format="{{field.timeFormats}}" group-validations="field.validation"></div>
                    <span class="text-danger" ng-show="field.validation.invalidMessage && sub_form.posfield.$invalid && sub_form.posfield.$dirty">{{field.validation.invalidMessage}}</span>
                </div>
                <!-- end time ranges pickers field -->

                <!-- rate field -->
                <div class="col-sm-{{12 - style.labelWidth || 10}}" ng-if="field.type == 'ratePicker'">
                    <rating class="ui-rating size-h{{field.size}}" value="formData[field.model]" max="field.max" readonly="field.isReadOnly" on-hover="field.onHover(value)" on-leave="field.onLeave()" state-on="field.stateOn" state-off="field.stateOff"></rating>
                    <span class="text-danger" ng-show="field.validation.invalidMessage && sub_form.posfield.$invalid && sub_form.posfield.$dirty">{{field.validation.invalidMessage}}</span>
                </div>
                <!-- end rate field -->

                <!-- pin field -->
                <div class="col-sm-{{12 - style.labelWidth || 10}}" ng-if="field.type == 'pinInput'">
                    <div pin-input length="{{field.length}}" pin-size="{{field.size}}" margin="{{field.margin}}" secure="{{field.secure}}" number-only="{{field.numberOnly}}" model="formData[field.model]" class-name="{{field.className}}"></div>
                    <span class="text-danger" ng-show="field.validation.invalidMessage && sub_form.posfield.$invalid && sub_form.posfield.$dirty">{{field.validation.invalidMessage}}</span>
                </div>
                <!-- end pin field -->

                <!-- file field -->
                <div class="col-sm-{{12 - style.labelWidth || 10}}" ng-if="field.type == 'file'">
                    <input type="file" name="posfield" title="Choose File" file-model="formData[field.model]" data-ui-file-upload class="btn-primary" group-validations="field.validation" ng-disabled="field.is_disabled != null && field.is_disabled(formData);" >
                    <span class="text-danger" ng-show="field.validation.invalidMessage && sub_form.posfield.$invalid && sub_form.posfield.$dirty">{{field.validation.invalidMessage}}</span>
                </div>
                <!-- end file field -->
                
            </ng-form>
		</div>

		<div class="form-group col-sm-12" style="text-align:right;" ng-if="!hideFormSubmitControls">
			<button class="btn btn-primary" data-ng-disabled="!canSubmit()" ng-click="submit()">{{lblSubmit | i18n}}</button>
    		<button class="btn btn-danger" ng-click="reset()">{{lblReset | i18n}}</button>
		</div>
	</form>
</div>