 <div class="modal-header">
    <h3 class="modal-title"><span class='fa fa-search'></span><div class='space'></div>Detail</h3>
</div>
<div class="modal-body">
    <form class='form-horizontal'>

        <table class="table table-responsive table-bordered">
            <tbody>
                <tr>
                    <td>
                        <label>Content</label>
                    </td>
                    <td>
                        {{detailCmt.content}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Author</label>
                    </td>
                    <td>
                        {{detailCmt.author}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Created At</label>
                    </td>
                    <td>
                        {{detailCmt.created_at | date: "yyyy-MMM-dd H:mm"}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Updated At</label>
                    </td>
                    <td>
                        {{detailCmt.updated_at | date: "yyyy-MMM-dd H:mm"}}
                    </td>
                </tr>
                <tr>
                    <td>
                       <label>Status</label>
                    </td>
                    <td>
                        <span class='ui-select'>
                            <select data-ng-model='detailCmt.status'>
                                <option value="active">Active</option>
                                <option value="pendding">Pendding</option>
                                <option value="reported">Reported</option>
                                <option value="deactive">Deactive</option>
                            </select>
                        </span>
                    </td>
                </tr>
            </tbody>            
        </table>

        <div class='clearfix'></div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" data-ng-click="saveDetailCmt()"><span class='fa fa-search'></span><div class='space'></div>Save</button>
    <button class="btn btn-warning" data-dismiss="modal" data-ng-click="cancelDetailModal()"><span class='fa fa-power-off'></span><div class='space'>Cancel</button>
</div>
