 <div class="modal-header">
    <h3 class="modal-title"><span class='fa fa-search'></span><div class='space'></div>Advaned Search</h3>
</div>
<div class="modal-body">
    <form class='form-horizontal'>
        <div class='form-group'>
            <label class='col-md-2' style='padding: 7px'><span data-i18n='By Post'>By Post</span></label>
            <div class='col-md-10' style="position: relative;" >
                <input class="form-control" data-ng-model='searchByPost.text' data-ng-show='postTitle.length == 0'>
                <alert type='danger' close='resetPostTitle()' data-ng-show='postTitle.length != 0'>{{postTitle}}</alert>
                <div style="position: relative;" data-ng-show='postTitle.length == 0'>
                    <div id='div-suggest' data-ng-show="searchByPost.posts.length != 0" style="position: absolute; z-index: 20006">
                        <ul class="list-unstyled">
                            <li data-ng-click="setSearchByPostId({{item.id}},'{{item.title}}')" data-ng-repeat='item in searchByPost.posts'>{{item.title | limitTo: 60}}</li>
                            <li>...</li>
                        </ul>
                    </div>    
                </div>
                
            </div>
        </div>

        <div class='form-group'>
            <label class='col-md-2' style='padding: 7px'><span data-i18n='By Content'>By Content</span></label>
            <div class='col-md-10'>
                <input type='text' class='form-control' data-ng-model='search.byContent'>
            </div>
        </div>

        <div class='form-group'>
            <label class='col-md-2' style='padding: 7px'><span data-i18n='By Author'>By Author</span></label>
            <div class='col-md-10'>
                <input type='text' class='form-control' data-ng-model='search.byAuthor'>
            </div>
        </div>

        <div class='form-group'>
            <label class='col-md-2' style='padding: 7px'><span data-i18n='By Created At'>By Created At</span></label>
            <div class="col-sm-10">
                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <div class="input-group col-md-12"><input type="text" q-keyboard class="form-control" value="{{ search.byCreated | date:'dd - MMMM - yyyy' }}">
                                 
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="search.byCreated" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', minView: 'day' }"/>
                    </ul>
            </div>
        </div>
        <div class='clearfix'></div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" data-ng-click="triggerSearch()"><span class='fa fa-search'></span><div class='space'></div>Search</button>
    <button class="btn btn-warning" data-dismiss="modal" data-ng-click="resetSearch()"><span class='fa fa-power-off'></span><div class='space'>Reset</button>
</div>
