<div class='page' data-ng-controller='ImgCtrl'>

    <breadcrumbs id="breadcrumb" items="breadcrumbs"></breadcrumbs>

    <div style='position: relative;'>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-picture"></span>
                &nbsp;&nbsp;upload
            </div>
            <div class="panel-body">
                <div>
                    <button class='btn btn-primary' onclick='$("#uploader-img").click();'>
                        <span class="glyphicon glyphicon-plus"></span>
                        &nbsp;&nbsp;
                        Upload files ...
                    </button>
                    &nbsp;&nbsp;
                    <button class="btn btn-warning" data-ng-click="uploader.uploadAll()" data-ng-show='uploader.queue.length != 0'>
                        <span class="glyphicon glyphicon-upload"></span>&nbsp;&nbsp;
                        Upload All
                    </button>
                    <input id='uploader-img' type="file" data-ng-show='false' nv-file-select="" uploader="uploader"  multiple  /><br/>
                    <div data-ng-repeat='item in uploader.queue' class="thumbnail" style="display: inline-table; margin: 5px;">
                        <div  ng-thumb="{ file: item._file, height: 200 }"></div>
                        <button class="btn btn-xs btn-warning" data-ng-click='item.remove()'>
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>&nbsp;&nbsp;
                        <button class="btn btn-xs btn-primary" data-ng-click='item.upload()'>
                            <span class="glyphicon glyphicon-upload"></span>
                        </button>
                    </div>
                </div>
                <div class="progress" style="" data-ng-show="uploader.queue.length != 0">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-picture"></span>
                &nbsp;&nbsp;Images ({{response.files.length}})
            </div>
            <div class="panel-body">
                
                <q-busy data-ng-show='isBusy'></q-busy>

                <div style="background: #fff;">
                    <img data-ng-repeat='img in response.files' src="{{response.hostname + img}}" class="img-thumbnail" data-ng-click='showImage({{response.hostname + img}})' style="margin: 5px; display: inline-table;" width='150px' height="150px">
                </div>
            </div>
        </div>

        

        <!-- <q-pagination config='pageConfig'></q-pagination> -->

        <div class="callout callout-info" ng-if="isError">
            <p class="ng-binding">{{errorMessage}}</p>
        </div>
    </div>
</div>
