<!doctype html>
<html class="no-js" ng-app="app" id="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <title>Qlog Manager</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <!-- needs images, font... therefore can not be part of ui.css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/weather-icons/css/weather-icons.min.css">
    <!-- end needs images -->
    <!-- build:css(./) styles/ui.css -->
    <link rel="stylesheet" href="bower_components/morris.js/morris.css">
    <link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css">
    <link rel="stylesheet" href="bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.css">
    <link rel="stylesheet" href="bower_components/intl-tel-input/build/css/intlTelInput.css">
    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
    <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css">
    <link rel="stylesheet" href="bower_components/select2/select2.css">
    <link rel="stylesheet" href="bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" />
    <!-- endbuild -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/custom.css">
</head>

<body data-off-canvas-nav class="{{getBodyClass()}}" data-ng-controller="MainCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <div>
        <div data-ng-show="isTemplate('pos')" data-ng-cloak>
            <section data-ng-include=" 'views/main/partials/header.tpl.html' " id="header" class="top-header"></section>
            <aside data-ng-include=" 'views/main/partials/nav.tpl.html' " id="nav-container" data-ng-show="showNav()"></aside>
        </div>
        <div class="view-container">
            <section data-ng-view id="content" class="animate-fade-up"></section>
        </div>
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
    </script>
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- include External -->
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <!-- end Include External -->
    <!-- build:js(./) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/intl-tel-input/build/js/intlTelInput.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.js"></script>
    <script src="bower_components/jquery-spinner/dist/jquery.spinner.js"></script>
    <script src="bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js"></script>
    <script src="bower_components/jquery-steps/build/jquery.steps.js"></script>
    <script src="bower_components/toastr/toastr.js"></script>
    <script src="bower_components/bootstrap-file-input/bootstrap.file-input.js"></script>
    <script src="bower_components/jquery.slimscroll/jquery.slimscroll.js"></script>
    <script src="bower_components/holderjs/holder.js"></script>
    <script src="bower_components/raphael/raphael.js"></script>
    <script src="bower_components/mocha/mocha.js"></script>
    <script src="bower_components/morris.js/morris.js"></script>
    <script src="bower_components/flot/jquery.flot.js"></script>
    <script src="bower_components/flot.tooltip/js/jquery.flot.tooltip.js"></script>
    <script src="bower_components/gauge.js/dist/gauge.js"></script>
    <script src="bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/angular-wizard/dist/angular-wizard.js"></script>
    <script src="bower_components/textAngular/dist/textAngular.min.js"></script>
    <script src="bower_components/textAngular/dist/textAngular-sanitize.min.js"></script>
    <script src="bower_components/angular-busy/dist/angular-busy.js"></script>
    <script src="bower_components/angular-loading-bar/src/loading-bar.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="bower_components/ng-bs-daterangepicker/src/ng-bs-daterangepicker.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
    <script src="bower_components/select2/select2.js"></script>
    <script src="bower_components/angular-ui-select2/src/select2.js"></script>
    <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="bower_components/bootbox/bootbox.js"></script>
    <script src="bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
    <script src="bower_components/angular-file-upload/dist/angular-file-upload.js"></script>
    <script src="bower_components/angular-file-upload/src/directives/FileSelect.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/vendors/flatify/responsive-tables.js"></script>
    <script src="scripts/vendors/flatify/jquery.sparkline.min.js"></script>
    <script src="scripts/vendors/flatify/skycons.js"></script>
    <script src="scripts/commons/localize/localize.js"></script>
    <script src="scripts/commons/const/const.js"></script>
    <script src="scripts/commons/services/_services.js"></script>
    <script src="scripts/commons/services/page/pageSetting.js"></script>
    <script src="scripts/commons/services/session/session.js"></script>
    <script src="scripts/commons/services/authentication/permission.js"></script>
    <script src="scripts/commons/services/authentication/authentication.js"></script>
    <script src="scripts/commons/services/location/location.js"></script>
    <script src="scripts/commons/services/api/api.js"></script>
    <script src="scripts/commons/services/ajax/ajaxRequest.js"></script>
    <script src="scripts/commons/services/http/httpRequest.js"></script>
    <script src="scripts/commons/services/logger/logger.js"></script>
    <script src="scripts/commons/services/config/_config.js"></script>
    <script src="scripts/commons/services/config/httpProvider/httpProvider.js"></script>
    <script src="scripts/commons/services/bootbox/bootbox.js"></script>
    <script src="scripts/commons/override/_override.js"></script>
    <script src="scripts/commons/override/cgBusy/cgBusy.js"></script>
    <script src="scripts/commons/run/_run.js"></script>
    <script src="scripts/commons/run/page/pageConfig.js"></script>
    <script src="scripts/commons/run/permission/accessPermission.js"></script>
    <script src="scripts/commons/directives/_directives.js"></script>
    <script src="scripts/commons/directives/page/_page.js"></script>
    <script src="scripts/commons/directives/page/nav/pageNav.js"></script>
    <script src="scripts/commons/directives/breadcrumbs/breadcrumbs.js"></script>
    <script src="scripts/commons/directives/dataTable/v1.0/dataTable.js"></script>
    <script src="scripts/commons/directives/bosForm/v1.0/bosForm.js"></script>
    <script src="scripts/commons/directives/bosForm/v1.0/fields/fields.js"></script>
    <script src="scripts/commons/directives/bosForm/v1.0/fields/fileModel.js"></script>
    <script src="scripts/commons/directives/qBusy/qBusy.js"></script>
    <script src="scripts/commons/directives/qPagination/qPagination.js"></script>
    <script src="scripts/commons/directives/qSortCols/qSortCols.js"></script>
    <script src="scripts/commons/directives/qTable/qTable.js"></script>
    <script src="scripts/commons/directives/qTags/qTags.js"></script>
    <script src="scripts/commons/directives/qEnter/qEnter.js"></script>
    <script src="scripts/commons/directives/qAutoComplete/qAutoComplete.js"></script>
    <script src="scripts/commons/directives/ngThumb/ngThumb.js"></script>
    <script src="scripts/commons/directives/imageUploader/singleImageUploader/v1.0/singleImageUploader.js"></script>
    <script src="scripts/commons/directives/bosMap/v1.0/bosMap.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/model/managementModule/model/_model.js"></script>
    <script src="scripts/model/managementModule/model/user.js"></script>
    <script src="scripts/model/managementModule/services/_services.js"></script>
    <script src="scripts/model/managementModule/services/userServices.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/layout/_layout.js"></script>
    <script src="scripts/controllers/layout/nav.js"></script>
    <script src="scripts/controllers/managementModule/authentication/_authentication.js"></script>
    <script src="scripts/controllers/managementModule/authentication/signin/signin.js"></script>
    <script src="scripts/controllers/managementModule/_management.js"></script>
    <script src="scripts/controllers/managementModule/hr/user/users/users.js"></script>
    <script src="scripts/controllers/managementModule/hr/user/userDetails/_userDetails.js"></script>
    <script src="scripts/controllers/managementModule/hr/user/userDetails/partials/detail.js"></script>
    <script src="scripts/controllers/managementModule/hr/user/userDetails/partials/overview.js"></script>
    <script src="scripts/controllers/managementModule/hr/user/userDetails/partials/account.js"></script>
    <script src="scripts/controllers/managementModule/post/post.js"></script>
    <script src="scripts/controllers/managementModule/post/createpost.js"></script>
    <script src="scripts/controllers/managementModule/comment/comment.js"></script>
    <script src="scripts/controllers/managementModule/comment/author.js"></script>
    <script src="scripts/controllers/managementModule/resources/images.js"></script>
    <script src="scripts/controllers/managementModule/resources/videos.js"></script>
    <!-- endbuild -->
</body>

</html>
