<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-collapse-nav
        data-slim-scroll
        data-highlight-active>
        <li><a href="#/dashboard" class="menu_level_1"> <i class="fa fa-dashboard"><span class="icon-bg bg-danger"></span></i><span data-i18n="Dashboard"></span> </a></li>
        <li>
            <a href="#/blog/post/list" class="menu_level_1"><i class="fa fa-user"><span class="icon-bg bg-orange"></span></i><span data-i18n="Post"></span></a>
            <ul>
                <li>
                    <a href="#/blog/post/list"><i class="fa fa-caret-right"></i><span data-i18n="List"></span></a>
                </li>
                <li>
                    <a href="#/blog/post/create"><i class="fa fa-caret-right"></i><span data-i18n="Create"></span></a>
                </li>
            </ul>
            
        </li>
        <li>
            <a href="#/comment/list" class="menu_level_1"><i class="fa fa-user"><span class="icon-bg bg-orange"></span></i><span data-i18n="Comment"></span></a>
            <ul>
                <li>
                    <a href="#/comment/list"><i class="fa fa-caret-right"></i><span data-i18n="List"></span></a>
                </li>
                <li>
                    <a href="#/comment/author"><i class="fa fa-caret-right"></i><span data-i18n="Author"></span></a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#/resources/images" class="menu_level_1"><i class="fa fa-user"><span class="icon-bg bg-orange"></span></i><span data-i18n="Resources"></span></a>
            <ul>
                <li>
                    <a href="#/resources/images"><i class="fa fa-caret-right"></i><span data-i18n="Images"></span></a>
                </li>
                <li>
                    <a href="#/resources/videos"><i class="fa fa-caret-right"></i><span data-i18n="Videos"></span></a>
                </li>
            </ul>
        </li>
    </ul>
</div>