@media print {
    body {
	    background-color: #fff !important;
	}

	section.top-header{
		display: none;
	}

	#invoice_body{
		display: block;
		visibility: visible;
	}

	.print_only{
		display: block !important;
	}
}

.print_only{
	display: none;
}