<div class='page' data-ng-controller='createPostCtrl'>
    <h1><span data-i18n="Create new Post"></span></h1>

    <breadcrumbs id="breadcrumb" items="breadcrumbs"></breadcrumbs>

    <div style='position: relative;'>
        <div class="panel-body" style="background: #fff;">
            <div class="form-group clearfix">
                
                <div class="col-md-12">
                    <label><i class="fa fa-file-text icon-active"></i>&nbsp;&nbsp;Title</label>
                    <input class="form-control" data-ng-model='post.title'>
                </div>
            </div>
            <div class="form-group clearfix col-md-4">
                <div class="">
                    <label><i class="fa fa-cubes icon-active"></i>&nbsp;&nbsp;Category</label><br />
                    <span class='ui-select'>
                        <select data-ng-model='post.category_id'>
                            <option value=''>Select Category</option>
                            <option value="1">PHP</option>
                            <option value="2">Python</option>
                            <option value="3">Ruby</option>
                            <option value="4">HTML5, CSS3</option>
                            <option value="5">Javascript</option>
                            <option value="7">Security</option>
                            <option value="6">Tools</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class="form-group clearfix col-md-4">
                <div class="">
                    <div><label><i class="fa fa-flag icon-active"></i>&nbsp;&nbsp;Status</label></div>
                    <span class='ui-select' >
                        <select data-ng-model='post.status'>
                            <option value=''>Select Status</option>
                            <option value="active">Active</option>
                            <option value="pendding">Pendding</option>
                            <option value="deactive">Deactive</option>
                        </select>
                    </span>
                </div>
            </div>

            <div class="form-group clearfix col-md-12">
                <div><label><i class="fa fa-tags icon-active"></i>&nbsp;&nbsp;Tag</label></div>
                <q-tags options='suggestTags' tags='post.tags'></q-tags>
            </div>
            <div class="clearfix">
                
            </div>

            <div class="form-group clearfix">
                <div data-ng-model='post.content' text-angular text-angular-name='first-editor'>
            </div>
            <br />
            <div class="form-group clearfix">
                <button class="btn btn-primary" data-ng-click='createNewPost()'>
                    <i class="fa fa-paper-plane"></i>&nbsp;&nbsp;
                    Publish
                </button>
                <button class="btn btn-warning pull-right">
                    <i class="fa fa-book"></i>&nbsp;&nbsp;
                    Save as Draft
                </button>
            </div>
        </div>
    </div>

</div>