<div class="clearfix">

    <style type="text/css">
    .div-list {
        background: #eee;
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 2000;
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    .div-list ul {
        margin-bottom: 0px;
    }

    .div-list li {
        padding: 7px;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
    }

    .div-list li:hover {
        background: #fff;
    }

    #fake-input {
        border: 1px solid #CBD5DD;
        padding: 6px 12px;
    }

    #real-input {
        border: 0px;
        width: 200px;
    }

    #real-input:focus {
        border: 0px;
        outline: 0px;
    }

    #done-tags {
        display: inline;
        padding-left: 4px;
        margin-right: 4px;
    }

    #done-tags li {
        display: inline;
        margin-right: 5px;
    }

    .tag {
        padding: 4px 8px;
        color: #fff;
        background: #23ae89;
    }

    </style>

    <div>
        <div>
            <input class='form-control' data-ng-model='inputText' />    
        </div>
        
        <div style="position: relative;" data-ng-show='inputTag.length != 0'>
            <div class='div-list' style='border: 1px solid #ccc;'>
                <ul class="list-unstyled">
                    <li data-ng-repeat='item in filter = (options | filter: inputText)' data-ng-click='addTag(item)'>{{item}}</li>
                </ul>
            </div>    
        </div>
        
    </div>

</div>