<div class="page" data-ng-controller="userDetailsCtrl">
	<div ng-if="currentUser != null">
		<!-- Begin top -->
		<h1><span data-i18n="{0} 's detail |{{currentUser.name}}"></span></h1>

		<breadcrumbs id="breadcrumb" items="breadcrumbs"></breadcrumbs>

		<div class="divider"></div>
        <tabset class="ui-tab">
            <tab heading='{{"Overview" | i18n}}'>
            	<div ng-include src="'/views/main/pages/managementModule/hr/user/userDetails/partial/overview.html'"></div>
            </tab>
            <tab heading='{{"Account" | i18n}}' ng-if="(permissionService.canEditUser() || currentUser.isCurrentUser())">
            	<div ng-include src="'/views/main/pages/managementModule/hr/user/userDetails/partial/account.html'"></div>
            </tab>
        </tabset>
	</div>

	<div ng-if="currentUser == null" ng-include src="'/views/commons/view_partials/loading/pageLoading/pageLoading.html'"></div>
</div>