.ui-check-standalone{
	margin: 0 0px 0px 20px !important;
}

.clickable{
	cursor: pointer;
}

.text-gray{
	color: #767676;
}

.tblControls{
	.tblcontrol{
		float:right;
		margin-left: 4px;
	}
}

ul.tblDynamicCellList{
	margin-bottom: 0px;
}

.cssWordwrap { 
   word-wrap: break-word;
   position:justify;
   height: auto;
   overflow-x: auto;
}

.black-text{
	color: black;
}

.float-right{
	float:right;
}

.float-left{
	float:left;
}

.align-left{
	text-align: left;
}

.align-center{
	text-align: center;
}

.align-right{
	text-align: right;
}

.field-label{
	text-align: right;
	padding-top: 7px;
}

.select-in-form{
	margin: 0 0 0 0 !important;
}

.app-form-modal-window .modal-dialog {
  width: 600px;
}

.nav-tabs > li > a{
	border: 0px;
}

.ui-tab .nav-tabs > li.active > a{
	border-top: 3px solid #1c7ebb;
}

.dot-underline {
	border-bottom: 1px dotted #1c7ebb;
    text-decoration: none;
}

.dot-underline:hover {
	border-bottom: 1px dotted #1c7ebb;
    text-decoration: none;
}

.panel-gray-success{
	border-color: #b1bdbd;
}

.panel-gray-success > .panel-heading {
	color: white;
	background-color: #95a5a6;
	border-color: #b1bdbd;
}

.panel-gray-success > .panel-heading > .actions {
	float: right;
	display: inline-block;
	margin-top: -3px;
}

.panel-gray-success > .panel-heading > .actions .btn-default{
	background: transparent !important;
	background-color: transparent !important;
	border: 1px solid #fff;
	color: #fff;
	padding: 3px 9px;
}

.panel-gray-success > .panel-heading > .actions .btn-save{
	background: transparent !important;
	background-color: rgba(235, 95, 95, 1) !important;
	border: 1px solid #fff;
	color: #fff;
	padding: 3px 9px;
}

.panel-gray-success > .panel-heading > .actions .btn-add{
	background: transparent !important;
	background-color: #1c7ebb !important;
	border: 1px solid #fff;
	color: #fff;
	padding: 3px 9px;
}

.panel-red-success{
	border-color: #e94b3b;
}

.panel-red-success > .panel-heading {
	color: white;
	background-color: #e94b3b;
	border-color: #e94b3b;
}

.panel-blue-success{
	border-color: #2ec1cc;
}

.panel-blue-success > .panel-heading {
	color: white;
	background-color: #2ec1cc;
	border-color: #2ec1cc;
}

.panel-green-success{
	border-color: #23ae89;
}

.panel-green-success > .panel-heading {
	color: white;
	background-color: #23ae89;
	border-color: #23ae89;
}

.panel-blue-hoki{
	border-color: #869ab3;
}

.panel-blue-hoki > .panel-heading {
	color: white;
	background-color: #67809f;
	border-color: #869ab3;
}

.panel-primary > .panel-heading > .actions {
	float: right;
	display: inline-block;
	margin-top: -3px;
}

.panel-primary > .panel-heading > .actions .btn-default{
	background: transparent !important;
	background-color: transparent !important;
	border: 1px solid #fff;
	color: #fff;
	padding: 3px 9px;
}

img.img328_328 {
	width: 100%;
	height: 328px;
}

img.img50_50 {
	width: 50px;
	height: 50px;
}

div.profile-avatar{
	position: relative;
}

div.profile-avatar > a.profile-avatar-edit{
	top: 0;
	right: 0;
	margin: 0;
	color: #fff;
	opacity: 0.6;
	border: none;
	padding: 3px 9px;
	font-size: 12px;
	background: #000;
	position: absolute;
}

.list-group > li.active:after{
	content: '';
	display: inline-block;
	border-bottom: 6px solid transparent;
	border-top: 6px solid transparent;
	border-left: 6px solid #fafafa;
	position: absolute;
	top: 19px;
	right: -6px;
}

.list-group > li.active{
	position: relative;
	margin-bottom: 1px;
}

.mail-categories .list-group .list-group-item.active > a{
	border-right: 3px solid #1c7ebb;
}

.list-group > li.active:after{
	border-left-color: #1c7ebb;
}

.portlet-title{
	border-bottom: 1px solid #ccc;
	padding: 0;
	margin-bottom: 10px;
	min-height: 41px;
}

.portlet-title > .caption {
	float: left;
	display: inline-block;
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	padding: 10px 0;
}

.list-detail-info li{
	padding-bottom: 10px;
}

.panel-display-info .panel-body{
	color: black;
}

.well{
	background-color: #ddd;
	border: 0;
	box-shadow: none !important;
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	color:black;
}

.well .static-info {
	margin-bottom: 10px;
}
.well .row {
	margin-right: -15px;
	margin-left: -15px;
}

.well .static-info.align-reverse .name {
	text-align: right;
}
.well .static-info .name {
	font-size: 14px;
}

.well .static-info.align-reverse .value {
	text-align: right;
}
.well .static-info .value {
	font-size: 14px;
	font-weight: 600;
}

.select2-results > li:nth-child(odd){
	background-color: #f5f5f5;
	color:black;
}

.select2-results .select2-highlighted{
	background-color: #3875d7 !important;
	color:white !important;
}

.form-control-with-icon{
	padding-right: 20px;
}

.panel .panel-heading .controls{
	float:right;
	margin-top:-5px;
}

.line-with-middle-text {
	width: 50%; 
   	text-align: center; 
   	border-bottom: 1px solid #ddd; 
   	line-height: 0.1em;
   	margin: 10px 0 20px; 
   	left: 25%;
	position: relative;
}

.line-with-middle-text span { 
    padding:0 10px; 
    background-color: white;
    font-weight: bold;
}

.form-confirm-div {

}

.form-confirm-div .form-confirm-section {
	margin: 30px 0px 25px 0px;
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
}

.form-confirm-div .form-confirm-group{
	margin-right: -15px;
	margin-left: -15px;
	margin-bottom: 15px;
}

.form-confirm-div .control-comfirm-label{
	padding-top: 7px;
	margin-bottom: 0;
	text-align: right;
}

.form-confirm-div .form-confirm-control-static{
	margin: 2px 0;
	display: inline-block;
	padding-top: 7px;
	padding-bottom: 7px;
}

.form-confirm-group .time_ranger_list{
	padding-top:5px;margin-left:-24px;
}

.top-page-tools{
	margin-top: 20px;
	margin-bottom: 10px;
	float: right;
}

.top-page-tools .field-label{
	padding-top:6px;
}

.tab-success.tab-container .tab-content {
	border: 1px solid #7dcc93 !important;
}

.tab-success.tab-container > .nav-tabs > li.active > a {
	background: #7dcc93;
	color: #fff !important;
	border: none !important;
}
