.log-panel {
	background-color: #F7F7F9;
	padding: 10px;
	border: 1px solid #E1E1E8;
	max-height: 150px;
	overflow-y: scroll;

	ul.log-list{
		list-style-type: none;
		margin-left: -30px;

		li{
			height: 30px;
			padding-top: 4px;
			padding-left: 4px;
		}

		li:nth-child(even){

		}

		li:nth-child(odd){
			background: #eee;
		}
	}
}
