.angular-google-map-container { height: 400px; }

.angular-direction-box {
	background: #fff;
	border-radius: 2px;
	border: 1px solid #cbd5dd;
	border-radius: 2px;
	outline: none;
	overflow: hidden;
	margin-top:3px;
	color: #666;
}

.angular-direction-box .content {
	padding: 7px;
	font-size: 13px;
	font-weight: 300;
	line-height: 19px;
}

.angular-direction-form {
	background: #fff;
	border-radius: 2px;
	border: 1px solid #cbd5dd;
	border-radius: 2px;
	outline: none;
	overflow: hidden;
	margin-top:3px;
	color: #666;
	height: 72px;
}

.angular-direction-form .widget-directions-left-overlay {
	position: absolute;
	z-index: 3;
	bottom: 1px;
	top: 1px;
	left: 0;
	width: 32px;
}

.angular-direction-form .widget-directions-right-overlay {
	position: absolute;
	z-index: 3;
	top: 4px;
	bottom: 0;
	right: 0;
	width: 38px;
	border: 0;
	opacity: 1;
	transition: opacity 200ms cubic-bezier(0.52,0,0.48,1);
	padding-top: 26px;
}

.angular-direction-form .widget-directions-right-overlay .widget-directions-reverse {
	margin-top: 16px;
	cursor: pointer;
	padding: 0px;
	outline: none;
}

.angular-direction-form .widget-directions-searchboxes{

}

.angular-direction-form .widget-directions-searchboxes .widget-directions-searchbox-container {
	height: 36px;
	overflow: hidden;
}

.angular-direction-form .widget-directions-searchboxes .widget-directions-searchbox-container .widget-directions-searchbox-handle {
	visibility: visible !important;
	position: absolute;
	height: 34px;
	width: 20px;
	padding: 8px 0 0 12px;
	z-index: 4;
	transition: background-color 200ms cubic-bezier(0.52,0,0.48,1);
}

.angular-direction-form .widget-directions-searchboxes .widget-directions-searchbox-container .widget-directions-searchbox-handle .widget-directions-icon.waypoint-bullet {
	background-position: 0 0;
	width: 11px;
	height: 11px;
	margin-top: 2px;
}

.angular-direction-form .widget-directions-searchboxes .widget-directions-searchbox-container .searchbox {
	width: auto;
	border: none;
	padding: 2px 40px 0 38px;
	position: relative;
	outline: none;
	margin: 0;
	box-sizing: content-box;
	height: 33px;
	transition-property: none;
}

.angular-direction-form .widget-directions-searchboxes .widget-directions-searchbox-container .searchboxinput {
	position: relative;
	z-index: 1;
	border: none;
	padding: 0;
	margin: 0;
	height: 34px;
	width: 100%;
}

.angular-direction-form .widget-directions-searchboxes .widget-directions-searchbox-container .widget-directions-input-underline {
	position: absolute;
	z-index: 2;
	display: block;
	left: 38px;
	right: 39px;
	bottom: -1px;
	height: 5px;
	border: 1px solid transparent;
	border-top: none;
	border-bottom-color: #ccc;
}

.angular-direction-select {
	background: #fff;
	border-radius: 2px;
	border: 1px solid #cbd5dd;
	border-radius: 2px;
	outline: none;
	overflow: hidden;
	margin-top:3px;
	color: #666;

	width:100%;
    max-height: 150px; 
    overflow: auto;
}

.angular-direction-select .angular-direction-item{
	color: #999;
	font-size: 11px;
	line-height: 17px;
	height: 30px;
	border-bottom: 1px solid #cbd5dd;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	overflow-y: hidden;
	width:100%;
}

.angular-direction-select .angular-direction-item:hover {
    background: #eee;
}

.angular-direction-select .angular-direction-item .direction-item-icon{
	float: left;
}

.angular-direction-select .angular-direction-item .direction-item-text{
	float: left;
	position: relative;
	margin-left: 13px;
	overflow: hidden;
	width: 85%;
	line-height: 19px;
}