.cg-busy-default-sign {
	top:50%;
	left:50%;
	transform: translateY(-50%) translateX(-50%);
	display: inline-block;
	position: absolute;
	padding-bottom: 6px;
	color: #333333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-color: #eee;
	border: 1px solid #ddd;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

.cg-busy-default-spinner {
	position: absolute;
	width: 25px;
	height: 25px;
	display: inline-block;
	top: 12px;
	left: 14px;
}

.cg-busy-default-text {
	margin: 13px 12px 6px 49px;
	font-size: 14px;
	color: black;
	text-align: left;
	max-width: 400px;
}
