.list-group-gray{
	.list-group-item{
		border-width: 1px 1px 1px 1px !important;
		border: 1px solid #e1e3e8 !important;
	}

	.list-group-item:first-child {
		border-top-right-radius: 3px !important;
		border-top-left-radius: 3px !important;
	}

	.list-group-item:last-child {
		margin-bottom: 0 !important;
		border-bottom-right-radius: 3px !important;
		border-bottom-left-radius: 3px !important;
	}

	.list-group-item:hover, .list-group-item:focus {
		text-decoration: none;
		color: #444444 !important;
		background-color: #fbfbfb;
	}
}