.form-control-select2{
	padding: 0px 0px 0px 0px;
}

.select2-container-multi .select2-choices{
	border: 0px !important;
	background-image: linear-gradient(to top, #fff 0%, #fff 0%);
}

.select2-container-multi .select2-choices .select2-search-choice{
	margin-top: 5px !important;
}

.select2-container .select2-choice{
	height: 32px;
	border-radius : 0px;
	border: 1px solid #cbd5dd;
	padding: 2px 0 0 8px;
	background-image: linear-gradient(to top, #fff 0%, #fff 60%);
}

.select2-container .select2-choice .select2-arrow{
	border-left: 1px solid #cbd5dd;
	border-radius: 0 0 0 0;
	background: #cbd5dd;
	background-image: linear-gradient(to top, #cbd5dd 0%, #cbd5dd 60%);
}

.select2-drop.select2-drop-above .select2-search input{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #767676;
	background-color: white;
	background-image: none;
	border: 1px solid #cbd5dd;
	border-radius: 2px;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}