<div class='page' data-ng-controller='authorCtrl'>
    <h1><span data-i18n="List Author"></span></h1>

    <breadcrumbs id="breadcrumb" items="breadcrumbs"></breadcrumbs>

    <div style='position: relative;'>
        <q-busy data-ng-show='isBusy'></q-busy>
        <table class='table table-responsive table-bordered' style='margin-bottom: 0px; background: #fff;'>
            <tr>
                <td>
                    <div class='col-md-6 col-sm-12 col-xs-12'>

                    </div>
                    <div class='col-md-6 col-sm-12 col-xs-12 text-right'>
                        <button class='btn btn-sm btn-primary' data-ng-click='showModalAdvandedSearch()' style='margin: 10px 0px; padding: 9px 15px 9px 10px'>
                            <span class='fa fa-search'></span>&nbsp;&nbsp;
                            Advanced Search
                        </button>       
                    </div>
                </td>
            </tr>
        </table>
        <table class='table table-hover table-bordered table-responsive table-striped' style='margin-bottom: 0px;background: #fff;'>
            <thead>
                <tr>
                    <td >
                        <b>Username (Show {{filtedCols.length}} / {{response.number}} posts)</b>
                        <q-sort-cols config='sortConfig' attr='"username"'></q-sort-cols>
                    </td>
                    <td>
                        <b>Email</b>
                        <q-sort-cols config='sortConfig' attr='"email"'></q-sort-cols>
                    </td>   
                    <td>
                        <b>Number Cmts</b>
                        <q-sort-cols config='sortConfig' attr='"number_cmt"'></q-sort-cols>
                    </td>   
                    <td>
                        <b>Status</b>
                        <q-sort-cols config='sortConfig' attr='"status"'></q-sort-cols>
                    </td>   
                    <td>
                        <b>Action</b>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr  data-ng-class='{"reported-cmt": item.status=="reported"}' data-ng-repeat='item in filtedCols = ( response.data )'>
                    <td>
                        <img data-ng-src="{{item.avatar}}" class="img-circle" width="30px">&nbsp;&nbsp;
                        {{item.username}}
                    </td>
                    <td>
                        {{item.email}}
                    </td>
                    <td>
                        {{item.number_cmt}}
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        <button data-ng-click='getDetailCmt({{item.id}})' class='btn btn-xs btn-primary' tooltip-placement="top" tooltip="{{'View' | i18n }}">
                            <span class='fa fa-eye'></span>
                        </button>
                        <button class='btn btn-xs btn-danger' tooltip-placement="top" tooltip="{{'Lock or Block' | i18n }}" data-ng-click='deleteCmt({{item.id}})'>
                            <i class="fa fa-lock"></i>
                        </button>
                    </td>
                </tr>
                <tr data-ng-if='filtedCols.length == 0'>
                    <td class='text-center h3 text-warning' colspan='5'>
                        No items here
                    </td>
                </tr>
            </tbody>
        </table>

        <q-pagination config='pageConfig'></q-pagination>

        <div class="callout callout-info" ng-if="isError">
            <p class="ng-binding">{{errorMessage}}</p>
        </div>
    </div>

    

</div>