<div class='page' data-ng-controller='cmtCtrl'>
    <h1><span data-i18n="List Comments"></span></h1>

    <breadcrumbs id="breadcrumb" items="breadcrumbs"></breadcrumbs>

    <div style='position: relative;'>
        <q-busy data-ng-show='isBusy'></q-busy>
        <table class='table table-responsive table-bordered' style='margin-bottom: 0px; background: #fff;'>
            <tr>
                <td>
                    <div class='col-md-6 col-sm-12 col-xs-12'>
                        <span class='ui-select'>
                            <select data-ng-model='search.byStatus'>
                                <option value="">Select Status</option>
                                <option value="active">Active</option>
                                <option value="pendding">Pendding</option>
                                <option value="reported">Reported</option>
                                <option value="deactive">Deactive</option>
                            </select>
                        </span>

                        <!-- <div class='col-md-6 col-sm-12 col-xs-12 row'> -->
                            <!-- <input type='text' data-ng-model='fastSearch.string' class='form-control' placeholder='Search' value=''>    -->
                        <!--     <input type='text' data-ng-model='fastSearch.string' class='form-control' placeholder='Search' value=''>    
                        </div>
                        <span data-ng-show='fastSearch.string == null || fastSearch.string.length < 1 ' class='col-md-6 col-sm-12 col-xs-12' style='padding-top: 8px;'>
                            Showing {{filtedCols.length}} / {{pageConfig.items}} items
                        </span>
                        <span data-ng-show='fastSearch.string.length >= 1' class='col-md-6 col-sm-12 col-xs-12' style='padding-top: 8px;'>
                            Showing {{filtedCols.length}} matching
                        </span> -->
                    </div>
                    <div class='col-md-6 col-sm-12 col-xs-12 text-right'>
                        <button class='btn btn-sm btn-primary' data-ng-click='showModalAdvandedSearch()' style='margin: 10px 0px; padding: 9px 15px 9px 10px'>
                            <span class='fa fa-search'></span>&nbsp;&nbsp;
                            Advanced Search
                        </button>       
                    </div>
                </td>
            </tr>
        </table>
        <table class='table table-hover table-bordered table-responsive table-striped' style='margin-bottom: 0px;background: #fff;'>
            <thead>
                <tr>
                    <td >
                        <b>Content (Show {{filtedCols.length}} / {{response.number}} posts)</b>
                        <q-sort-cols config='sortConfig' attr='"content"'></q-sort-cols>
                    </td>
                    <td>
                        <b>Author</b>
                    </td>
                    <td>
                        <b>Created</b>
                        <q-sort-cols config='sortConfig' attr='"created_at"'></q-sort-cols>
                    </td>   
                    <td>
                        <b>Updated</b>
                        <q-sort-cols config='sortConfig' attr='"updated_at"'></q-sort-cols>
                    </td>   
                    <td>
                        <b>Status</b>
                        <q-sort-cols config='sortConfig' attr='"status"'></q-sort-cols>
                    </td>   
                    <td>
                        <b>Action</b>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr  data-ng-class='{"reported-cmt": item.status=="reported"}' data-ng-repeat='item in filtedCols = ( response.data )'>
                    <td>
                        <span tooltip-placement='top' tooltip="{{item.content}}">{{item.content | limitTo: 100}} ...</span>
                    </td>
                    <td>
                        {{item.author}}
                    </td>
                    <td>
                        {{item.created_at | date: "yyyy-MMM-dd H:mm"}}
                    </td>
                    <td>
                        {{item.updated_at | date: "yyyy-MMM-dd H:mm"}}
                    </td>
                    <td>
                        {{item.status}}
                    </td>
                    <td>
                        <button data-ng-click='getDetailCmt({{item.id}})' class='btn btn-xs btn-primary' tooltip-placement="top" tooltip="{{'View' | i18n }}">
                            <span class='fa fa-eye'></span>
                        </button>
                        <button class='btn btn-xs btn-danger' tooltip-placement="top" tooltip="{{'Delete' | i18n }}" data-ng-click='deleteCmt({{item.id}})'>
                            <span class='fa fa-trash'></span>
                        </button>
                    </td>
                </tr>
                <tr data-ng-if='filtedCols.length == 0'>
                    <td class='text-center h3 text-warning' colspan='5'>
                        No items here
                    </td>
                </tr>
            </tbody>
        </table>

        <q-pagination config='pageConfig'></q-pagination>

        <div class="callout callout-info" ng-if="isError">
            <p class="ng-binding">{{errorMessage}}</p>
        </div>
    </div>

    

</div>