<div class="modal-header">
    <h3><span class="fa fa-user"></span> {{"New Staff" | i18n}}</h3>
</div>
<div class="modal-body">
	<bos-form config="createStaffFormConfig" control="createStaffFormControl" ></bos-form>
</div>
<div class="modal-footer">
    
</div>