<div style='background: #fff;'>
	<table class='table table-responsive table-bordered'>
		<tr>
			<td>
				<div class='row'>
					<div class='col-md-6 col-sm-12 col-xs-12'>&nbsp;
						<div  data-ng-if='config.entriesPerPage != ""'>
							Entries per page :
							<select data-ng-model='config.currentEntries'>
								<option value='{{item}}' data-ng-repeat='item in config.entriesPerPage'>{{item}}</option>
							</select>
						</div>
						
					</div>
					<div class='col-md-6 col-sm-12 col-xs-12 ' >
						<div class='pull-right'>
							<ul class="pagination-sm pagination ng-isolate-scope" >
								<li data-ng-click='goToFirstPage()' ng-class="{active: page.active, disabled: config.currentPage == 1}" class="ng-scope"><a ng-click="">First</a></li>
								<li data-ng-click='goToPrevPage()' ng-class="{active: page.active, disabled: config.currentPage == 1 }" class="ng-scope"><a ng-click="">Prev</a></li>
								<li class="ng-scope active"><a ng-click="">{{config.currentPage}}</a></li>
								<li data-ng-click='goToNextPage()' ng-class="{active: page.active, disabled: config.currentPage >= config.maxPage}" class="ng-scope"><a ng-click="">Next</a></li>
								<li data-ng-click='goToLastPage()' ng-class="{active: page.active, disabled: config.currentPage >= config.maxPage }" class="ng-scope"><a ng-click="">Last</a></li>
							</ul>
						</div>
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>