<div class='pull-right'>
	<div style='position: relative'>
		<span data-ng-class="{ 'text-primary': ( config.sortBy == attr && config.asc )}" data-ng-click='config.changeSort( attr, true )' style='position: absolute; top: -2px; right: -1px; cursor: pointer;' class='fa fa-chevron-up'></span>
		<span data-ng-class="{ 'text-primary': ( config.sortBy == attr && !config.asc )}" data-ng-click='config.changeSort( attr, false )' style='position: absolute; top: 10px; right: -1px; cursor: pointer;' class='fa fa-chevron-down'></span>
	</div>
</div>