<div class="page" data-ng-controller="usersCtrl">
	<h1><span data-i18n="Staffs"></span></h1>

	<breadcrumbs id="breadcrumb" items="breadcrumbs" ></breadcrumbs>

	<dynamic-table config="tblStaffsConfig" control="tblStaffsControls" id="tblUsers"></dynamic-table>

	<hidden single-image-uploader config="avatarUploaderConfig" control="avatarUploaderControls" image="http://placehold.it/200x150" target="1"></hidden>
</div>