<section class="panel panel-default table-dynamic" cg-busy="tblLoader">
    <div class="panel-heading">
    	<strong><span class="{{icon}}"></span> <span>{{title}}</span></strong>
    </div>
   	
    <alert type="'danger'" close="hideFlashMessage()" ng-show="tblRequestResponse.showMessage">{{tblRequestResponse.message}}</alert>

    <div class="table-filters">
        <div class="row">
            <div class="col-sm-4 col-xs-6">
                <form>
                    <input type="text"
                           placeholder="search"
                           class="form-control"
                           data-ng-model="tblFetchData.stringSearch"
                           ng-enter="fetchTblData()">
                </form>
            </div>
            <div class="col-sm-3 col-xs-6 filter-result-info" ng-if="(tblFetchData.searchs && tblFetchData.searchs.length > 0) || tblFetchData.stringSearch">
                <span data-i18n="Showing {0} entries that match your filters|{{tblItems.length}}"></span>
            </div>

            <div class="col-sm-2 col-xs-6 filter-result-info" ng-if="(!tblFetchData.searchs || tblFetchData.searchs.length <= 0) && !tblFetchData.stringSearch">
                <span data-i18n="Showing {0} of total {1} items |{{tblItems.length}}|{{tblTotalItems}}"></span>
            </div>

            <div class="col-xs-6 tblControls" data-ng-class="{'col-sm-6': !((tblFetchData.searchs && tblFetchData.searchs.length > 0) || tblFetchData.stringSearch), 'col-sm-5': ((tblFetchData.searchs && tblFetchData.searchs.length > 0) || tblFetchData.stringSearch)}">
            	<button ng-if="config.searchConfig.length > 0" class="btn btn-primary tblcontrol" ng-click="showAdvanceSearch()"><span class="fa fa-search"></span> {{"Advance Search" | i18n }}</button>
                <div data-ng-repeat="tool in config.tableTools" ng-show="!tool.ngShow || (tool.ngShow && tool.ngShow())">

                    <!-- button -->
                    <button ng-if="tool.type == 'button'" class="btn btn-primary tblcontrol" ng-click="excuteFunctionCustom(tool.clickFunction)">
                        <span class="{{tool.icon}}"></span> {{tool.label | i18n }}
                    </button>

                    <!-- tools -->
                    <div ng-if="tool.type == 'tools' && tool.items.length > 0" class="btn-group tblcontrol">
                       <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> {{tool.label | i18n }} <span class="caret"></span> </button>
                        <ul class="dropdown-menu" role="menu">
                            <li data-ng-repeat="toolItem in tool.items" data-ng-class="{divider : (toolItem.type == 'divider')}" ng-show="!toolItem.ngShow || (toolItem.ngShow && toolItem.ngShow())">
                                <!-- tool -->
                                <a href="javascript:;" ng-if="toolItem.type == 'tool'" ng-click="excuteFunctionCustom(toolItem.clickFunction)">{{toolItem.label | i18n }}</a>
                            </li>
                        </ul>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
            	<th ng-if="config.columnConfig.enableRowCheck">
            		<div class="th">
                		<label class="ui-checkbox ui-check-standalone"><input type="checkbox" data-ng-model="selectAll" ng-click="clickSelectAllItems()"><span></span></label>
            		</div>
            	</th>
            	<th data-ng-repeat="column in config.columnConfig.columns">
            		<div class="th">
            			{{column.label}}
            			<span ng-if="column.enableOrder" class="glyphicon glyphicon-chevron-up"
                          data-ng-click=" orderBy(getSortModel(column),'ASC') "
                          data-ng-class="{active: (tblFetchData.orderBy == getSortModel(column) && tblFetchData.order == 'ASC')}"></span>
	                    <span ng-if="column.enableOrder" class="glyphicon glyphicon-chevron-down"
	                          data-ng-click=" orderBy(getSortModel(column),'DESC') "
	                          data-ng-class="{active: (tblFetchData.orderBy == getSortModel(column) && tblFetchData.order == 'DESC')}"></span>
            		</div>
            	</th>
                <th ng-if="config.columnConfig.enableRowControls">
                	<div class="th">
                    	<span data-i18n="Controls"></span>
                	</div>
                </th>
            </tr>
        </thead>
        <tbody>
        	<tr ng-if="tblItems.length == 0"><td colspan="{{config.columnConfig.columns.length + 2}}"><center><span data-i18n="These is no item to display"></span></center></td></tr>
            <tr data-ng-repeat="item in tblItems" class="black-text">
            	<td ng-if="config.columnConfig.enableRowCheck">
            		<label class="ui-checkbox ui-check-standalone">
            			<input type="checkbox" ng-click="toggleSelection(item[itemIdKey])" ng-checked="selectList.indexOf(item[itemIdKey]) > -1"><span></span>
            		</label>
            	</td>
            	<td data-ng-repeat="column in config.columnConfig.columns" data-ng-include="getCellTemplatePath(column.template)" data-ng-class="{clickable: (column.enableClick == true)}" ng-click="excuteFunctionOnSelected(column, item)" class="{{(!column.align || column.align == 'left') ? 'align-left' : ( (column.align == 'right')?'align-right':'align-center' )}}">
            	</td>
                <td ng-if="config.columnConfig.enableRowControls">
                    <span data-ng-repeat="control in config.columnConfig.rowControls">
                        <!-- button -->
                        <button class="btn {{control.class}} btn-xs" tooltip-placement="top" tooltip="{{control.tooltip}}" style="margin-right: 4px" ng-click="excuteFunctionOnSelected(control, item)" ng-if="control.type == 'button'" ng-show="!control.ngShow || (control.ngShow && control.ngShow(item))" >
                            <span class="{{control.icon}}">
                        </button>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <footer class="table-footer">
        <div class="row">
            <div class="col-md-6 page-num-info">
                <span>
                    <span data-i18n="Entries per page"></span>
                    <select data-ng-model="tblFetchData.limit"
                            data-ng-options="obj.value as obj.text for obj in tblLimits"
                            data-ng-change="limitChanged()">
                    </select> 
                </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <pagination class="pagination-sm"
                            page="tblCurrentPage"
                            total-items="tblTotalItems"
                            max-size="tblMaxPageSize"
                            on-select-page="setPage(page)"
                            items-per-page="tblFetchData.limit"
                            rotate="false"
                            boundary-links="true"></pagination>
            </div>
        </div>
    </footer>

</section>