<div class="cg-busy-default-wrapper" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; text-align:center;z-index: 1000">
	<div class="cg-busy-default-sign">

		<div class="loading-spinner">
		    <span class="side side-left">
		        <span class="fill"></span>
		    </span>

		    <span class="side side-right">
		        <span class="fill"></span>
		    </span>
		</div>
		<div class="cg-busy-default-text ng-binding"><span data-i18n="Loading..."></span></div>

	</div>
</div>